doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title New Tab
        link(rel="shortcut icon", href="icons/icon_128.png", type="image/x-icon")
        link(rel="stylesheet", href="css/main.css")

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet")
    body
        //- Start update Popup
        div(id="update-popup")
            p A new version of the extension is available! 
                a(href="https://quote-tab.netlify.app/") Download it here
            i(class="close" id="close-popup")
        //- End update Popup
        //- Start Nav
        nav
            .container
                h1 #[span.hour]:#[span.minute]#[span.session]
                h1 #[span.day] / #[span.month] / #[span.year]
        //- End Nav
        .landing
            .container
                .welcomeBox
                    p #[span.wellcome], #[input(type="text", class="inputName", placeholder="Name", title="Click and write your name")]
                .form
                    i(class="search searchButton" title="Search")
                    input(type="search", class="searchInput", inputmode="search", placeholder="Search Google", autocomplete="off")
                
                ul(id="shortcut-list")
                
                .bottom
                    .quotes
                        h2 Quote of Day
                        p.quote
                        p.author
                    .todoBox
                        h2 Today
                        input(class="todo", type="text", placeholder="eg: Finish the last project")
        .todoIcon
            span To Do List
            i(class="list-ul")
        .todoList
            i(class="close closeOne")
            .form
                h1 To Do List
                .inputs
                    input(type="text", class="todoInput", placeholder="Task...")
                    button.todoButton #[i(class="plus")]
                    button.todoButtonClear #[i(class="trash")]
                .tasks There are no tasks

        .settingsIcon
            i(class="now_wallpaper")
            span settings
        .settings
            i(class="close closeTwo")
            .shortcuts
                h3 Shortcuts
                label(class="custom-checkbox")
                    input(type="checkbox" id="toggle-shortcuts")
                    span.checkmark
                    |Show Shortcuts
            .wallpaper
                h3 Change Wallpaper
                div(class="drop-zone")
                    span(class="drop-zone__prompt") Drop Image here or click to upload
                    input(type="file" name="myFile" class="drop-zone__input")

    script(src="js/main.js")